/*-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 1
Author: Hanjun Lee
ID: 3732878
Acknowledgement: Every sources come from Amazon and all of the reference ar in the report*/
/* Adding Custom font */
@font-face {
    font-family: "Custom";
    src: url(Font/Kanit-Regular.ttf);
}

@font-face {
    font-family: "Custom-Bold";
    src: url(Font/Kanit-Bold.ttf);
}
/* Arranging all the elements in vertical */
/* locating the elements in the middle of the page */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #47555e;
    margin: 0;

}
/* set the color of the h1 tags in white */
/* using custom font */
h1{
    color: white;
    font-family: "Custom-Bold", sans-serif;
}
/* sizing the hr under the title of the page */
hr{
    min-width: 700px;
}
/* to make following header and navigation bar as user scrolling down */
header{
    position: sticky;
    top: 0;
    background-color: #47555e;
}
/* arranging the elements inside the header and footer on the center */
.header, .footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* making a space between logo and title */
.header h1{
    margin-left: 20px;
}
/* header class nav */
/* arranging the elements in navigation bar in the middle */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7aa5d2;
    color: white;
    height: 25px;
    border-radius: 5px;
}
/* removing the style of the ul */
 .navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
 }
/* sizing the list items */
 .navbar li{
    margin: 0 40px;
    font-size: 15px;
 }
/* removing the text-decoration of a tags(underline) and setting the color to white */
/* using custom font */
 .navbar a{
    color: white;
    font-family: "Custom", sans-serif;
    text-decoration: none;
 }
/* Hamburger menu icon */
 .mobile-nav{
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    background-color: #7aa5d2;
    border-radius: 10px;
    display: none;

 }
/* if the cursor hovers around a tags of navigation bar, changing the color of a tag */
nav a:hover{
    background-color: #4d6de3;
    
}
/* =================category-list============================ */
/* styling h1 .category-list */
.category-list h1{
    display: inline;
    font-size: 25px;
    color: white;
}
/* Removing text0decoration of a tags*/
.category-list a{
    text-decoration: none;
}
/* section stying */
.category-list section{
    border: 2px solid #7aa5d2;
    border-radius: 10px;
    padding: 0 10px;
    width: 650px;
}
/* arranging list items in ul in the center */
.category-list ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}
/* arranging list items in vertical */
.category-list li{
    display: flex;
    flex-direction: column;
}
/* styling img inside the list */
.category-list img{
    border-radius: 10px;
    width: 150px;
    height: 200px;
}
/* if the cursor hovers around the img, change the size of img*/
.category-list img:hover{
    border-radius: 10px;
    width: 180px;
    height: 240px;
}
/* caption of img */
.category-list h2{
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Custom", sans-serif;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
}
/* removing the text-decoration of a tags (underline) */
.category-list ul a{
    text-decoration: none;
    margin: 30px;
}
/* set the transition time to 1 second */
img.animation{
    transition: 1s;
}

/* styling .video class */
.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #7aa5d2;
    border-radius: 10px;
    padding: 20px;
}
/* short descriptiong for video */
.video h1, h2{
    color: white;
    margin: 0;
}
/* locating the footer */
footer{
    position: relative;
    top: 100px;
    padding-bottom: 100px;
}
/* locating the content of the footer in the middle */
.footer-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
 }
 /* styling a tags of footer */
 .footer-nav a{
    background-color: #7aa5d2;
    color: white;
    font-family: "Custom", sans-serif;
    text-decoration: none;
    padding: 10px 30px;
    margin: 10px 15px;
    border-radius: 10px;
 }

/* ====================== Mobile ============================== */
/* Mobile device */
/* if the screen size if smaller than 768px, rearrange the elements */
@media (max-width: 767px){
    /* change .navbar flex-direction: column to show navigation bar in vertical */
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: 120px;
    }
    /* change .navbar ul flex-direction: column to show navigation bar in vertical */
    .navbar ul{
        flex-direction: column;
        padding-top: 8px;
        margin-top: 10px;
    }
    /* adjusting margin of li to make it good */
    .navbar li{
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 20px;
    }
    /* hiding navigation bar */
    .navbar{
        display: none;
    }
    /* showing hamburger meun icon */
    .mobile-nav{
        display: block;
    }
    /* when cursor hovers around the hamburger menu, show the navigation bar in vertical  */
    .mobile-nav:hover + .navbar{
        display: block;
    }
    /* Make being able to click the navigation bar */
    .navbar:hover{
        display: block;
    }
}

